.projectcard_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}

.proj_thumbnail {
    width: 300px;
    /* Box-shadow henta fra https://getcssscan.com/css-box-shadow-examples */
    box-shadow: #ffffff44 0px 1px 4px;
    border-radius: 5px;
}

.proj_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}