body {
    background-color: var(--main-bg-color);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    gap: 75px;
}

.logo {
    width: 275px;
}

.navlink {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}

.active_link, .navlink:hover {
    color: #C1BEF5;
}
