.footer {
  padding: 50px;
}

.footer__github--wrapper {
  display: flex;
  justify-content: center;
}

.footer__github {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #ffffff;
}

.footer__github:hover {
  color: var(--logo-fg-color);
}

.footer__github--icon {
  width: 25px;
}