.logo {
  width: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin-top: 50px;
  align-items: center;
  background-color: #101113;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.footer__github {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #ffffff;
}

.footer__github:hover {
  color: var(--logo-fg-color);
}

.footer__github--icon {
  width: 25px;
}

.footer__social {
  padding-block: 10px;
  color: white;
}

.footer__social a {
  color: white;
}