:root {
  /* Colors */
  --main-fg-color: #ffffff;
  --main-bg-color: #191B1D;
  --secondary-bg-color: #232527;
  --logo-fg-color: #C1BEF5;
  --logo-color: #586ADD;
  --logo-bg-color: #010756;
}

main {
  margin-inline: 3vw;
  min-height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  color: var(--main-fg-color);
}

.project_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

.project_wrapper a {
  text-decoration: none;
}

.filter_sort_wrapper {
  display: flex;
  flex-direction: row;
}

.filter_cont,
.sort_cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 0;
  gap: 10px;
  width: fit-content;
}