:root {
    --logo-fg-color: #C1BEF5;
    --logo-color: #586ADD;
    --logo-bg-color: #010756;
    --main-bg-color: #191B1D;
    --secondary-bg-color: #232527;
    --main-fg-color: #ffffff;
}

main {
    margin-inline: 5vw;
}

h1, p, b {
    color: var(--main-fg-color);
}

.project_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 100px;
}

.project_wrapper a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
